@using Zadatak.Models
@model Zadatak.Models.Smestaj
@{
    ViewBag.Title = "PregledajSmestaj";
}

<html>
<head>
    <style>
        body {
            background-color: aliceblue;
        }

        table {
            background-color: darkseagreen;
            border: 1px solid black;
            margin-bottom: 20px;
        }

        td {
            width: 300px;
        }

        tr.odd {
            background-color: palegreen;
        }

        div.container {
            display: inline-block;
            margin-left: 0px;
        }

        table.Pframe {
            border: 1px dashed gray;
            padding: 5px;
        }

        div.item {
            float: left;
            margin-right: 20px;
        }

        input.button:hover {
            border: 1px solid gray;
        }

        form.button {
            float: left;
            margin-right: 20px;
        }

        input {
            background-color: aliceblue;
        }

        input.button {
            align-self: center;
            background-color: limegreen;
            color: white;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h2>Pregled smestaja</h2>
    <table>
        <tr>
            <td>Naziv</td>
            <td>@Model.Naziv</td>
        <tr class="odd">
            <td>Tip smestaja</td>
            <td>@Model.TipSmestaja</td>
        </tr>
        <tr>
            <td>Broj zvezdica</td>
            <td>@Model.BrojZvezdica</td>
        </tr>
        <tr class="odd">
            <td>Postojanje bazena</td>
            <td>@Model.ImaBazen</td>
        </tr>
        <tr>
            <td>Postojanje spa centra</td>
            <td>@Model.ImaSpaCentar</td>
        </tr>
        <tr class="odd">
            <td>Prilagodjeno za osobe sa invaliditetom</td>
            <td>@Model.OsobeSaInvaliditetom</td>
        </tr>
        <tr>
            <td>Postoji Wi-Fi</td>
            <td>@Model.ImaWiFi</td>
        </tr>
    </table>
    <h2>Lista smestajnih jedinica</h2>
    <div class="container">
        <div class="item">
            <h3>Pretraga</h3>
            <form method="post" action="~/Home/Pretraga">
                <table class="Pframe">
                    <tr><td>Donja granica za dozvoljen broj gostiju:</td><td><input type="number" name="donjaGranica" /></td></tr>
                    <tr><td>Gornja granica za dozvoljen broj gostiju:</td><td><input type="number" name="gornjaGranica" /></td></tr>
                    <tr>
                        <td>Dozvoljen boravak kućnim ljubimcima:</td>
                        <td>
                            <input list="ljubimci" name="ljubimci" />
                            <datalist id="ljubimci">
                                <option value="Da"></option>
                                <option value="Ne"></option>
                            </datalist>
                        </td>
                    </tr>
                    <tr><td>Cena za celu smeštajnu jedinicu:</td><td><input type="number" name="cena" /></td></tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input class="button" type="submit" value="Pretrazi" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="item">
            <h3>Sortiranje</h3>
            <form method="post" action="~/Home/Sortiranje">
                <table class="Pframe">
                    <tr>
                        <td>Dozvoljen broj gostiju:</td>
                        <td>
                            <input list="brojGostiju" name="brojGostiju" />
                            <datalist id="brojGostiju">
                                <option value="Rastuce"></option>
                                <option value="Opadajuce"></option>
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td>Cena za celu smeštajnu jedinicu:</td>
                        <td>
                            <input list="cena" name="cena" />
                            <datalist id="cena">
                                <option value="Rastuce"></option>
                                <option value="Opadajuce"></option>
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="text" name="naziv" value="@Model.Naziv" hidden />
                            <input class="button" type="submit" value="Sortiraj" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <table>
        <tr>
            <td>Dozvoljen broj gostiju</td>
            <td>Dozvoljen boravak kucnim ljubimcima</td>
            <td>Cena za smestajnu jedinicu</td>
            <td>Jedinstveni indefitikator za smestajnu jedinicu</td>
        </tr>
        @foreach (SmestajnaJedinica item in Model.SmestajneJedinice)
        {
            if (!item.IsDeleted)
            {
                <tr class="odd">
                    <td>@item.MaxBrojGostiju</td>
                    <td>@item.KucniLjubimci</td>
                    <td>@item.Cena</td>
                    <td>@item.IdSmestajneJedinice</td>
                </tr>
            }
        }
    </table>

</body>
</html>

